<div id="body">
    <div class="data-entry">
        <div class="datat-title">
            <h2>Create Entry</h2>
        </div>
        <form id="add-artwork-form" method="POST" action="/add-artwork-form">
            <label for="title">Title</label><br>
            <input type="text" name="title"><br>

            <label for="fname">First Name</label><br>
            <input type="text" name="fname"><br>

            <label for="lname">Last Name</label><br>
            <input type="text" name="lname"><br>

            <label for="price">Price</label><br>
            <input type="text" name="price"><br>

            <label for="medium">Medium</label><br>
            <input type="text" name="medium"><br>

            <label for="dimensions">Dimensions</label><br>
            <input type="text" name="dimensions"><br>

            <label for="description">Description</label><br>
            <input type="text" name="description"><br>

            <div class="submit-button-container">
                <button id="submitButton">Submit</button>
            </div>
        </form>
    </div>
    <div class="data-display">

        <h2>Artwork</h2>

        <div class="title-row">
            <div class="medium-row-item">
                <h3>Title</h3>
            </div>
            <div class="medium-row-item">
                <h3>Artist</h3>
            </div>
            <div class="small-row-item">
                <h3>Price</h3>
            </div>
            <div class="small-row-item">
                <h3>Size</h3>
            </div>
            <div class="small-row-item">
                <h3>Medium</h3>
            </div>
            <div class="large-row-item">
                <h3>Description</h3>
            </div>
            <div class="small-row-item">
                <h3>Sold</h3>
            </div>
        </div>

        {{#each data}}
            <div class="row">
                <div class="medium-row-item">
                    <p>{{this.title}}</p>
                </div>
                <div class="medium-row-item">
                    <p>{{this.first_name}} {{this.last_name}}</p>
                </div>
                <div class="small-row-item">
                    <p>${{this.price}}</p>
                </div>
                <div class="small-row-item">
                    <p>{{this.dimensions}}</p>
                </div>
                <div class="small-row-item">
                    <p>{{this.medium}}</p>
                </div>
                <div class="large-row-item">
                    <p>{{this.description}}</p>
                </div>

                {{!-- places red dot next to sold listing based on presence of transaction id --}}
                {{#if this.transaction_id}}
                    <div class="small-row-item">
                        <div class="red-dot-container">
                            <div class="red-dot"></div>
                        </div>
                    </div>
                {{/if}}
            
                <div class="button-container">
                    <button class="edit-button">Update</button>
                    <button class="delete-button">Delete</button>
                </div>
            </div>
        {{/each}}
        
    </div>
</div>