<div id="body">
    <div class="data-entry">
        <div class="datat-title">
            <h2>Create Entry</h2>
        </div>
        <form id="add-frame-form" method="POST" action="/add-frame-form">
            <label for="input-size">Size</label><br>
            <input type="text" name="input-size"><br>

            <label for="input-price">Price</label><br>
            <input type="text" name="input-price"><br>

            <label for="input-inventory">Inventory</label><br>
            <input type="text" name="input-inventory"><br>

            <div class="submit-button-container">
                <button id="submitButton">Submit</button>
            </div>
        </form>
    </div>
        <form id="update-frame-form" method="POST" action="/update-frame-form">

            <select name="input-size" id="mySelect">
                <option value="test">Select a price and inventory</option>
                {{#each data}}
                    <option value="{{this.frame_id}}">${{this.price}} {{this.inventory}}</option>
                {{/each}}
            </select>
            <label for="input-size">Size</label><br>
            <input id="update-size" type="text" name="input-size"><br>

            <label for="input-price">Price</label><br>
            <input id="update-price" type="text" name="input-price"><br>

            <label for="input-inventory">Inventory</label><br>
            <input id="update-inventory" type="text" name="input-inventory"><br>

            <div class="submit-button-container">
                <button type=""submit id="submitButton">Submit</button>
            </div>
        </form>
    <div class="data-display">

        <h2>Frames</h2>

        <div class="title-row">
            <div class="medium-row-item">
                <h3>Size</h3>
            </div>
            <div class="medium-row-item">
                <h3>Price</h3>
            </div>
            <div class="medium-row-item">
                <h3>Inventory</h3>
            </div>
        </div>

        {{#each data}}
            <div class="row" data-id={{this.frame_id}}>
                <div class="medium-row-item first-name">
                    <p>{{this.frame_id}}</p>
                </div>
                <div class="medium-row-item last-name">
                    <p>{{this.price}}</p>
                </div>
                <div class="large-row-item email">
                    <p>{{this.inventory}}</p>
                </div>
                <div class="button-container">
                    <button onclick="deletePatron({{this.frame_id}})"class="delete-button">Delete</button>
                </div>
            </div>
        {{/each}}
    
    </div>
</div>

<script src="./js/delete-frames.js"></script>
<script src="./js/update-frames.js"></script>