<div id="body">
    <div class="data-entry">
    
        <form id="add-patron-form" method="POST" action="/add-patron-form">
            <div class="data-title">
                <h2>Create Entry</h2>
            </div>

            <label for="input-fname">First Name</label><br>
            <input type="text" name="input-fname"><br>

            <label for="input-lname">Last Name</label><br>
            <input type="text" name="input-lname"><br>

            <label for="email">Email</label><br>
            <input type="text" name="email"><br>

            <label for="address">Address</label><br>
            <input type="text" name="address"><br>

            <div class="submit-button-container">
                <button id="submitButton">Submit</button>
            </div>
        </form>

        <form id="update-patron-form" method="POST" action="/update-patron-form" hidden>
            <div class="data-title">
                <h2>Update</h2>
            </div>

            <div data-id="" id="currently-updating">
                Placeholder Name
            </div>
            <label for="update-fname">First Name</label><br>
            <input id="update-first-name" type="text" name="update-fname"><br>

            <label for="update-lname">Last Name</label><br>
            <input id="update-last-name" type="text" name="update-lname"><br>

            <label for="update-email">Email</label><br>
            <input id="update-email" type="text" name="update-email"><br>

            <label for="update-address">Address</label><br>
            <input id="update-address" type="text" name="update-address"><br>

            <div class="submit-button-container">
                <button type="cancel" id="submitButton">Cancle</button>
                <button type="submit" id="submitButton">Submit</button>
            </div>
        </form>

    </div>
    <div class="data-display">
        <h2>Patrons</h2>

        <div class="title-row">
            <div class="medium-row-item">
                <h3>First Name</h3>
            </div>
            <div class="medium-row-item">
                <h3>Last Name</h3>
            </div>
            <div class="large-row-item">
                <h3>Email</h3>
            </div>
            <div class="medium-row-item">
                <h3>Address</h3>
            </div>
        </div>
        {{#each data}}
            <div class="row" data-id={{this.patron_id}}>
                <div class="medium-row-item first-name">
                    <p>{{this.first_name}}</p>
                </div>
                <div class="medium-row-item last-name">
                    <p>{{this.last_name}}</p>
                </div>
                <div class="large-row-item email">
                    <p>{{this.email}}</p>
                </div>
                <div class="medium-row-item address">
                    <p>{{this.address}}</p>
                </div>
                <div class="button-container">
                    <button onclick="updatePatron({{this.patron_id}})" class="edit-button">Update</button>
                    <button onclick="deletePatron({{this.patron_id}})"class="delete-button">Delete</button>
                </div>
            </div>
        {{/each}}
    </div>
</div>

<script src="./js/delete-patron.js"></script>
<script src="./js/update-patron.js"></script>